<div class="cour">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/image/c5.jpg" class="d-block" alt="..."height="500px" width="90%">
    </div>
    <div class="carousel-item">
      <img src="assets/image/c3.jpg" class="d-block" alt="..."height="500px" width="90%">
    </div>
    <div class="carousel-item">
      <img src="assets/image/c6.jpg" class="d-block" alt="..." height="500px" width="90%">
    </div>
  </div>
</div>
</div><br><br>
<div>
<p class="second">Ice cream is a frozen desert made of cream with added flavour.It is very tasty.
    There are many variety of ice cream available in market.<br>
    Some ice cream has tow or more than two flavours.It has very tasty toping.
    Everyone like it's much even they are chidren or adult.<br>The invention of ice cream can be traced
    back to the fourth century (BC) but was never really “discovered” until the 1600’s.<br>
    Much about the history of ice cream has been left to the imagination but historians can give
    credit to the chef of Charles 1 of England.<br> After much preparation, the King's French chef had
     concocted an apparently new dish. It was cold and resembled fresh- fallen snow but <br>was much
     creamier and sweeter than any other after- dinner dessert. The guests were delighted, as was Charles,
   <br> who summoned the cook and asked him not to reveal the recipe for his frozen cream. </p>
  </div>
  <div class="info">
     <fieldset id="About Us">
      <legend>About Us</legend>
      ‘The Ice Cream Factory’ is another American dessert parlor,concentrated on serving surface driven
      little group frozen yogurts with a recharged consideration regarding flavor and sense of taste.
       Proprietor and originator builds up every formula explicitly for every individual flavor.
       The uprightness of his fixings are never traded off with added substances or
       handled balancing
      . “Each frozen yogurt is made considering the flavor profile first.” With this hands-on
      methodology,  owner hopes to change the manner in which individuals eat and consider this
      nostalgic treat, by giving dessert darlings a completely unique and contemporary frozen
      yogurt encounter.

Owner is an independent restaurateur, with broad cake involvement in some of New York’s best
 foundations. In 2014, he opened ‘The Ice Cream Factory’ . “‘The Ice Cream Factory’ is my
 opportunity to express my affection for the quintessential American liberality.
 I have been longing for these flavors, this style, and this place for a considerable length of time.”
    </fieldset>
  </div>
